<div class="container">

  <div class="row">

    <!-- Title -->
    <!-- <div class="col-xl-12 main-title">
      <h4>JarWiz</h4>
    </div> -->

    <!-- Actions -->
    <div class="col-xl-12 mt-2">
      <div class="row">

        <!-- Title -->
        <div class="col-xl-9">
          <div class="form-row">
            <div class="form-group col-4">
              <h4>{{label.title}}</h4>
            </div>
            <div class="form-group col-4">
              <button (click)="onTranslate()" class="rounded-circle btn btn-primary p-1"><img
                  src="../assets/img/japan.svg" style="width: 35px;height: 35px;padding: 3px;"></button>
              <!-- <button onclick="history.go(0)" class="btn btn-primary">English</button> -->
              <button (click)="onEnglish()" class="rounded-circle btn btn-primary p-1"><img
                  src="../assets/img/united-kingdom.svg" style="width: 35px;height: 35px;padding: 3px;"></button>
            </div>
            <div class="form-group col-4">
              <select [(ngModel)]="chosenMod" (ngModelChange)="modo()" id="selectid" class="w-100 btn btn-primary">
                <option value="" selected disabled hidden>{{label.choose}}</option>
                <option value="nml" class="btn btn-secondary">Nissan Motor Limited</option>
                <option value="ne" class="btn btn-secondary">Nissan Europe</option>
                <option value="nna" class="btn btn-secondary">Nissan NNA</option>
              </select>
            </div>

          </div>
          <!-- <select [(value)]="selectedLanguage">
            <option value="1">English</option>
            <option value="2">Japan</option>
          </select> -->
        </div>
        <div class="col-xl-3 text-right px-0">
          <button data-toggle="tooltip" data-placement="bottom" title="Export to image" type="button"
            class="btn btn-primary" (click)="rasterize();">
            <i class="fa fa-download" aria-hidden="true"></i> {{label.export}}</button>
          <!-- <button data-toggle="tooltip" data-placement="bottom" title="Export to SVG" type="button"
            class="btn btn-primary" (click)="rasterizeSVG();">
            <i class="fa fa-download" aria-hidden="true"></i> Export to SVG</button>
          <button data-toggle="tooltip" data-placement="bottom" title="Save in localStorage" type="button"
            class="btn btn-primary" (click)="saveCanvasToJSON();">
            <i class="fa fa-save" aria-hidden="true"></i> Save local</button>
          <button data-toggle="tooltip" data-placement="bottom" title="Load from localStorage" type="button"
            class="btn btn-primary" (click)="loadCanvasFromJSON();">
            <i class="fa fa-save" aria-hidden="true"></i> Load local</button> -->
          <button data-toggle="tooltip" data-placement="bottom" title="Clean Canvas" type="button"
            class="btn btn-danger" (click)="confirmClear();">
            <i class="fa fa-ban" aria-hidden="true"></i> {{label.clean}}</button>
        </div>
      </div>
    </div>

  </div>

  <div class="row justify-content-between">
    <div class="col-lg-3 p-0">
      <!-- <div class="card">
                <div class="card-header">Size</div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="size.width" (keyup)="changeSize()">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    Width
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" [(ngModel)]="size.height" (keyup)="changeSize()">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    Height
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

      <!-- <div class="card mb-2">
        <div class="card-header">{{label.region}}</div>
        <div class="card-body"> -->
      <!-- <div class=""> -->

      <!-- </div> -->
      <!-- </div>
      </div> -->
      <!-- <br /> -->

      <!-- Add Text -->
      <div class="card mb-2">
        <div class="card-header">
          {{label.text}}
        </div>
        <div class="card-body p-0">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="textString">
            <div class="input-group-append">
              <span class="input-group-text">
                <button id="add-text" data-toggle="tooltip" data-placement="bottom" title="Add text"
                  class="btn btn-primary" (click)="addText()">
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- <br /> -->

      <!-- Add Charts -->
      <div class="card mb-2" style="overflow: scroll; max-height: calc(100vh - 300px);">
        <div class="card-header">{{label.chart}}</div>
        <div class="card-body py-0">
          <!-- <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#barChart"> -->
          <a data-toggle="modal" data-target="#barChart" class="btn"> <i class="fa fa-bar-chart zoomImg"
              aria-hidden="true"></i><span class="m-2">{{label.bar}}</span></a>
          <!-- </button> -->
          <a data-toggle="modal" data-target="#horizontalBarChart" class="btn"> <img
              src="../assets/img/horizontal-bars-chart-svgrepo-com.svg" style="width: 44px;"><span
              class="m-2">{{label.horizontal}}</span></a>
          <a data-toggle="modal" data-target="#stackedBarChart" class="btn"> <img
              src="../assets/img/chart-column-stacked-icon-iconexperience-professional-icons-o-pertaining-to-stacked-bar-chart-icon.png"
              style="width: 44px;"><span class="m-2">{{label.stacked}}</span></a>
          <a data-toggle="modal" data-target="#groupedBarChart" class="btn"> <img style="width: 44px;"
              src="../assets/img/stock-vector-vector-illustration-of-statistics-grouped-bar-chart-icon-premium-quality-web-icon-453734359.jpg"><span
              class="m-2">{{label.grouped}}</span></a>
          <!-- <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#pieChart"> -->

          <!-- </button> -->
          <a data-toggle="modal" data-target="#areaChart" class="btn"> <i class="fa fa-area-chart zoomImg"
              aria-hidden="true"></i><span class="m-2">{{label.area}}</span></a>
          <a data-toggle="modal" data-target="#mixedChart" class="btn"><img
              src="../assets/img/icons8-combo-chart-50.png" style="width:44px;"><span
              class="m-2">{{label.mixed}}</span></a>
          <a data-toggle="modal" data-target="#table" class="btn"> <i class="fa fa-table zoomImg"
              aria-hidden="true"></i><span class="m-2">{{label.table}}</span></a>
          <a data-toggle="modal" data-target="#filter" class="btn"> <i class="icon-filter zoomImg"
              aria-hidden="true"></i><span class="m-2">{{label.filter}}</span></a>
          <a data-toggle="modal" data-target="#dateChart" class="btn"> <i class="fa fa-calendar zoomImg"
              aria-hidden="true"></i><span class="m-2">{{label.date}}</span></a>
          <a data-toggle="modal" data-target="#pieChart" class="btn"> <i class="fa fa-pie-chart zoomImg"
              aria-hidden="true"></i><span class="m-2">{{label.pie}}</span></a>
          <!-- <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#lineChart"> -->
          <a data-toggle="modal" data-target="#lineChart" class="btn"> <i class="fa fa-line-chart zoomImg"
              aria-hidden="true"></i><span class="m-2">{{label.line}}</span></a>
          <!-- </button> -->
          <!-- <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#doughnutChart"> -->
          <a data-toggle="modal" data-target="#doughnutChart" class="btn"> <img src="../assets/img/chart-donut.svg"
              style="zoom:0.08;"><span class="m-2">{{label.doughnut}}</span></a>
          <!-- </button> -->

          <!-- Bar Chart Modal -->
          <div class="modal" id="barChart">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">{{label.bar}}</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="form-row">
                    <div class="col-4 form-group pl-2 pr-4 attributeBody" style="border-right: 1px dotted lightgray;">
                      <h4>{{label.select}}</h4>

                      <label>{{label.previewTitle}}</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="barTitle">
                      </div>
                      <label>{{label.xAxisTitle}}</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="barXlabel">
                      </div>
                      <label>{{label.yAxisTitle}}</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="barYlabel">
                      </div>
                      <!-- <label>Values</label>
                      <div class="input-group">
                        <input type="text" class="form-control">
                      </div> -->
                      <label>{{label.color}}</label>
                      <div class="input-group colorPickerClass">
                        <!-- <input type="text" class="form-control"> -->
                        <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="barColor"
                          [style.background]="barColor" [value]="barColor" (colorPickerChange)="setFill()">
                      </div>
                      <button type="button" class=" mt-4 btn btn-danger float-right"
                        (click)="getBarChart()">{{label.previewTitle}}</button>
                    </div>

                    <div class="col-8 form-group pl-2 pr-4">
                      <h4>{{label.previewTitle}}</h4>
                      <canvas id="previewCanvas-barchart" style="width:100%;height:85%"></canvas>
                    </div>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">

                  <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="getImage('previewCanvas-barchart')">{{label.save}}</button>
                </div>

              </div>
            </div>
          </div>

          <!-- Horizontal Bar Chart Modal -->
          <div class="modal" id="horizontalBarChart">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">{{label.horizontal}}</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="form-row">
                    <div class="col-4 form-group pl-2 pr-4 attributeBody" style="border-right: 1px dotted lightgray;">
                      <h4>{{label.select}}</h4>

                      <label>{{label.titleText}}</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="horizontalBarTitle">
                      </div>
                      <label>{{label.xAxisTitle}}</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="horizontalXAxis">
                      </div>
                      <label>{{label.yAxisTitle}}</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="horizontalYAxis">
                      </div>
                      <!-- <label>Values</label>
                      <div class="input-group">
                        <input type="text" class="form-control">
                      </div> -->
                      <label>{{label.color}}</label>
                      <div class="input-group colorPickerClass">
                        <!-- <input type="text" class="form-control"> -->
                        <input type="text" class="form-control" [cpPosition]="'bottom'"
                          [(colorPicker)]="horizontalColor" [style.background]="horizontalColor"
                          [value]="horizontalColor" (colorPickerChange)="setFill()">
                      </div>
                      <button type="button" class=" mt-4 btn btn-danger float-right"
                        (click)="getHorizontalBarChart()">{{label.previewTitle}}</button>
                    </div>

                    <div class="col-8 form-group pl-2 pr-4">
                      <h4>{{label.previewTitle}}</h4>
                      <canvas id="previewCanvas-horizontalBarChart" style="width:100%;height:85%"></canvas>
                    </div>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">

                  <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="getImage('previewCanvas-horizontalBarChart')">{{label.save}}</button>
                </div>

              </div>
            </div>
          </div>

          <!-- Stacked Bar Chart Modal -->
          <div class="modal" id="stackedBarChart">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Stacked Bar</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="form-row">
                    <div class="col-4 form-group pl-2 pr-4 attributeBody" style="border-right: 1px dotted lightgray;">
                      <h4>{{label.select}}</h4>

                      <label>{{label.titleText}}</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackTitle">
                      </div>
                      <label>X Label</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackXAxis">
                      </div>
                      <label>Y Label</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackYAxis">
                      </div>
                      <label>Legend 1</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackLegend1">
                      </div>
                      <label>Legend 1</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackLegend2">
                      </div>

                      <label>Color 1</label>
                      <div class="input-group">

                        <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="stackColor1"
                          [style.background]="stackColor1" [(ngModel)]="stackColor1" (colorPickerChange)="setFill()">
                      </div>
                      <label>Color 2</label>
                      <div class="input-group">

                        <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="stackColor2"
                          [style.background]="stackColor2" [(ngModel)]="stackColor2" (colorPickerChange)="setFill()">
                      </div>
                      <button type="button" class=" mt-4 btn btn-danger float-right"
                        (click)="getStackedBarChart()">{{label.previewTitle}}</button>
                    </div>

                    <div class="col-8 form-group pl-2 pr-4">
                      <h4>{{label.previewTitle}}</h4>
                      <canvas id="previewCanvas-StackedBar" style="width:100%;height:85%"></canvas>
                    </div>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">

                  <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="getImage('previewCanvas-stackedBarChart')">{{label.save}}</button>
                </div>

              </div>
            </div>
          </div>

          <!-- Grouped Bar Chart Modal -->
          <div class="modal" id="groupedBarChart">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Grouped Bar</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="form-row">
                    <div class="col-4 form-group pl-2 pr-4 attributeBody" style="border-right: 1px dotted lightgray;">
                      <h4>{{label.select}}</h4>

                      <label>{{label.titleText}}</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackTitle">
                      </div>
                      <label>X Label</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackXAxis">
                      </div>
                      <label>Y Label</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackYAxis">
                      </div>
                      <label>Legend 1</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackLegend1">
                      </div>
                      <label>Legend 1</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackLegend2">
                      </div>

                      <label>Color 1</label>
                      <div class="input-group">

                        <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="stackColor1"
                          [style.background]="stackColor1" [(ngModel)]="stackColor1" (colorPickerChange)="setFill()">
                      </div>
                      <label>Color 2</label>
                      <div class="input-group">

                        <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="stackColor2"
                          [style.background]="stackColor2" [(ngModel)]="stackColor2" (colorPickerChange)="setFill()">
                      </div>
                      <button type="button" class=" mt-4 btn btn-danger float-right"
                        (click)=" getGroupedBarChart()">{{label.previewTitle}}</button>
                    </div>

                    <div class="col-8 form-group pl-2 pr-4">
                      <h4>{{label.previewTitle}}</h4>
                      <canvas id="previewCanvas-groupedBarChart" style="width:100%;height:85%"></canvas>
                    </div>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">

                  <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="getImage('previewCanvas-groupedBarChart')">{{label.save}}</button>
                </div>

              </div>
            </div>
          </div>

          <!-- Area Chart Modal -->
          <div class="modal" id="areaChart">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Area Chart</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="form-row">
                    <div class="col-4 form-group pl-2 pr-4 attributeBody" style="border-right: 1px dotted lightgray;">
                      <h4>{{label.select}}</h4>

                      <label>{{label.titleText}}</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackTitle">
                      </div>
                      <label>X Label</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackXAxis">
                      </div>
                      <label>Y Label</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackYAxis">
                      </div>
                      <label>Legend 1</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackLegend1">
                      </div>
                      <label>Legend 1</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackLegend2">
                      </div>

                      <label>Color 1</label>
                      <div class="input-group">

                        <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="stackColor1"
                          [style.background]="stackColor1" [(ngModel)]="stackColor1" (colorPickerChange)="setFill()">
                      </div>
                      <label>Color 2</label>
                      <div class="input-group">

                        <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="stackColor2"
                          [style.background]="stackColor2" [(ngModel)]="stackColor2" (colorPickerChange)="setFill()">
                      </div>
                      <button type="button" class=" mt-4 btn btn-danger float-right"
                        (click)="getAreaChart()">{{label.previewTitle}}</button>
                    </div>

                    <div class="col-8 form-group pl-2 pr-4">
                      <h4>{{label.previewTitle}}</h4>
                      <canvas id="previewCanvas-areaChart" style="width:100%;height:85%"></canvas>
                    </div>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">

                  <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="getImage('previewCanvas-areaChart')">{{label.save}}</button>
                </div>

              </div>
            </div>
          </div>

          <!-- Mixed Chart Modal -->
          <div class="modal" id="mixedChart">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Mixed Chart</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                  <div class="form-row">
                    <div class="col-4 form-group pl-2 pr-4 attributeBody" style="border-right: 1px dotted lightgray;">
                      <h4>{{label.select}}</h4>

                      <label>{{label.titleText}}</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackTitle">
                      </div>
                      <label>X Label</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackXAxis">
                      </div>
                      <label>Y Label</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackYAxis">
                      </div>
                      <label>Legend 1</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackLegend1">
                      </div>
                      <label>Legend 1</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackLegend2">
                      </div>

                      <label>Color 1</label>
                      <div class="input-group">

                        <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="stackColor1"
                          [style.background]="stackColor1" [(ngModel)]="stackColor1" (colorPickerChange)="setFill()">
                      </div>
                      <label>Color 2</label>
                      <div class="input-group">

                        <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="stackColor2"
                          [style.background]="stackColor2" [(ngModel)]="stackColor2" (colorPickerChange)="setFill()">
                      </div>
                      <button type="button" class=" mt-4 btn btn-danger float-right"
                        (click)="getMixedChart()">{{label.previewTitle}}</button>
                    </div>

                    <div class="col-8 form-group pl-2 pr-4">
                      <h4>{{label.previewTitle}}</h4>
                      <canvas id="previewCanvas-mixedChart" style="width:100%;height:85%"></canvas>
                    </div>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">

                  <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="getImage('previewCanvas-mixedChart')">{{label.save}}</button>
                </div>

              </div>
            </div>
          </div>

          <!-- Pie Chart Modal -->
          <div class="modal" id="pieChart">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Pie Chart</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="form-row">
                    <div class="col-4 form-group pl-2 pr-4 attributeBody" style="border-right: 1px dotted lightgray;">
                      <h4>{{label.select}}</h4>

                      <label>{{label.titleText}}</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="pieTitle">
                      </div>
                      <label>Legend 1</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="pieLegend1">
                      </div>
                      <label>Legend 1</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="pieLegend2">
                      </div>

                      <label>Color 1</label>
                      <div class="input-group">

                        <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="pieColor1"
                          [style.background]="pieColor1" [(ngModel)]="pieColor1" (colorPickerChange)="setFill()">
                      </div>
                      <label>Color 2</label>
                      <div class="input-group">

                        <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="pieColor2"
                          [style.background]="pieColor2" [(ngModel)]="pieColor2" (colorPickerChange)="setFill()">
                      </div>
                      <button type="button" class=" mt-4 btn btn-danger float-right"
                        (click)="getPieChart()">{{label.previewTitle}}</button>
                    </div>

                    <div class="col-8 form-group pl-2 pr-4">
                      <h4>{{label.previewTitle}}</h4>
                      <canvas id="previewCanvas-piechart" style="width:100%;height:85%"></canvas>
                    </div>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="getImage('previewCanvas-piechart')">{{label.save}}</button>
                </div>

              </div>
            </div>
          </div>

          <!-----Table -->
          <div class="modal" id="table">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Table</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="form-row">
                    <div class="col-4 form-group pl-2 pr-4 attributeBody" style="border-right: 1px dotted lightgray;">
                      <h4>{{label.select}}</h4>

                      <label>{{label.titleText}}</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="tableTitle">
                      </div>
                      <label>Dummy Data</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="tableData">
                      </div>

                      <button type="button" class=" mt-4 btn btn-danger float-right"
                        (click)="getTable()">{{label.previewTitle}}</button>
                    </div>

                    <div class="col-8 form-group pl-2 pr-4">
                      <h4>{{label.previewTitle}}</h4>
                      <canvas id="previewCanvas-table" style="width:100%;height:85%"></canvas>
                    </div>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="getImage('previewCanvas-table')">{{label.save}}</button>
                </div>

              </div>
            </div>
          </div>
          <!----------Table ENd-->

          <!-- Line Chart Modal -->
          <div class="modal" id="lineChart">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Line </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="form-row">
                    <div class="col-4 form-group pl-2 pr-4 attributeBody" style="border-right: 1px dotted lightgray;">
                      <h4>{{label.select}}</h4>

                      <label>{{label.titleText}}</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackTitle">
                      </div>
                      <label>X Label</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackXAxis">
                      </div>
                      <label>Y Label</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackYAxis">
                      </div>
                      <label>Legend 1</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackLegend1">
                      </div>
                      <label>Legend 1</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="stackLegend2">
                      </div>

                      <label>Color 1</label>
                      <div class="input-group">

                        <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="stackColor1"
                          [style.background]="stackColor1" [(ngModel)]="stackColor1" (colorPickerChange)="setFill()">
                      </div>
                      <label>Color 2</label>
                      <div class="input-group">

                        <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="stackColor2"
                          [style.background]="stackColor2" [(ngModel)]="stackColor2" (colorPickerChange)="setFill()">
                      </div>
                      <!-- <label>Values</label>
                      <div class="input-group">
                        <input type="text" class="form-control">
                      </div> -->
                      <button type="button" class=" mt-4 btn btn-danger float-right"
                        (click)="getLineChart()">{{label.previewTitle}}</button>
                    </div>

                    <div class="col-8 form-group pl-2 pr-4">
                      <h4>{{label.previewTitle}}</h4>
                      <canvas id="previewCanvas-linechart" style="width:100%;height:85%"></canvas>
                    </div>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="getImage('previewCanvas-linechart')">{{label.titleText}}</button>
                </div>

              </div>
            </div>
          </div>

          <!-- Table Chart Modal -->
          <div class="modal" id="tableChart">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Table</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="form-row">
                    <div class="col-4 form-group pl-2 pr-4 attributeBody" style="border-right: 1px dotted lightgray;">
                      <h4>{{label.select}}</h4>

                      <label>{{label.titleText}}</label>
                      <div class="input-group">
                        <input type="text" class="form-control">
                      </div>
                      <label>{{label.xAxisTitle}}</label>
                      <div class="input-group">
                        <input type="text" class="form-control">
                      </div>
                      <label>{{label.yAxisTitle}}</label>
                      <div class="input-group">
                        <input type="text" class="form-control">
                      </div>
                      <label>{{label.color}}</label>
                      <div class="input-group colorPickerClass">
                        <!-- <input type="text" class="form-control"> -->
                        <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="props.fill"
                          [style.background]="props.fill" [value]="props.fill" (colorPickerChange)="setFill()">
                      </div>
                      <!-- <label>Values</label>
                        <div class="input-group">
                          <input type="text" class="form-control">
                        </div> -->
                      <button type="button" class=" mt-4 btn btn-danger float-right"
                        (click)="getBarChart()">{{label.previewTitle}}</button>
                    </div>

                    <div class="col-8 form-group pl-2 pr-4">
                      <h4>{{label.previewTitle}}</h4>
                      <canvas id="previewCanvas-linechart" style="width:100%;height:85%"></canvas>
                    </div>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">{{label.save}}</button>
                </div>

              </div>
            </div>
          </div>



          <!-- Date Filter Modal -->
          <div class="modal" id="dateChart">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Date Filter</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="form-row">
                    <div class="col-4 form-group pl-2 pr-4 attributeBody" style="border-right: 1px dotted lightgray;">

                      <button type="button" class=" mt-4 btn btn-danger float-right"
                        (click)="getDate()">{{label.previewTitle}}</button>
                    </div>

                    <div class="col-8 form-group pl-2 pr-4">
                      <h4>{{label.previewTitle}}</h4>
                      <canvas id="previewCanvas-date" style="width:100%;height:85%"></canvas>
                    </div>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="getImage('previewCanvas-date')">{{label.save}}</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Doughnut Chart Modal -->
          <div class="modal" id="doughnutChart">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Doughnut </h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="form-row">
                    <div class="col-4 form-group pl-2 pr-4 attributeBody" style="border-right: 1px dotted lightgray;">
                      <h4>{{label.select}}</h4>

                      <label>{{label.titleText}}</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="pieTitle">
                      </div>
                      <label>Legend 1</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="pieLegend1">
                      </div>
                      <label>Legend 1</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="pieLegend2">
                      </div>

                      <label>Color 1</label>
                      <div class="input-group">

                        <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="pieColor1"
                          [style.background]="pieColor1" [(ngModel)]="pieColor1" (colorPickerChange)="setFill()">
                      </div>
                      <label>Color 2</label>
                      <div class="input-group">

                        <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="pieColor2"
                          [style.background]="pieColor2" [(ngModel)]="pieColor2" (colorPickerChange)="setFill()">
                      </div>



                      <button type="button" class=" mt-4 btn btn-danger float-right"
                        (click)="getDoughnutChart()">{{label.previewTitle}}</button>
                    </div>

                    <div class="col-8 form-group pl-2 pr-4">
                      <h4>{{label.previewTitle}}</h4>
                      <canvas id="previewCanvas-doughnutchart" style="width:100%;height:85%"></canvas>
                    </div>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="getImage('previewCanvas-doughnutchart')">{{label.save}}</button>
                </div>

              </div>
            </div>
          </div>

          <!-- Filter Modal -->
          <div class="modal" id="filter">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">filter</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="form-row">
                    <div class="col-4 form-group pl-2 pr-4 attributeBody" style="border-right: 1px dotted lightgray;">
                      <h4>Select attributes</h4>

                      <label>{{label.titleText}}</label>
                      <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="filterName">
                      </div>

                      <button type="button" class=" mt-4 btn btn-danger float-right"
                        (click)="getFilter()">{{label.previewTitle}}</button>
                    </div>

                    <div class="col-8 form-group pl-2 pr-4">
                      <h4>{{label.previewTitle}}</h4>
                      <canvas id="previewCanvas-filter" style="width:100%;height:85%"></canvas>
                    </div>
                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="getImage('previewCanvas-filter')">{{label.save}}</button>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- <br /> -->



      <!-- Upload Image -->
      <div class="card mb-2">
        <div class="card-header">{{label.upload}}</div>
        <div class="card-body text-center">
          <img id="testImage" *ngIf="url" class="images-item-upload" [src]="url" (click)="addImageOnCanvas(url);">
          <input type="file" (change)="readUrl($event);" class="col-12">
          <br />
          <br />
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeWhite(url);">
                <i class="fa fa-times mr-1" aria-hidden="true"></i>{{label.remove}}</button>
            </div>
          </div>
        </div>
      </div>
      <!-- <br /> -->

      <!-- Add shapes -->
      <div class="card mb-1">
        <div class="card-header">{{label.figure}}</div>
        <!-- <div class="card-body text-center max-height"> -->
        <div class="card-body">
          <!-- <div class="btn-group btn-group-vertical" role="group" aria-label="..."> -->
          <button type="button" class="btn btn-primary m-1"
            (click)="addFigure('rectangle');">{{label.rectangle}}</button>
          <button type="button" class="btn btn-primary m-1" (click)="addFigure('square');">{{label.square}}</button>
          <button type="button" class="btn btn-primary m-1" (click)="addFigure('triangle');">{{label.triangle}}</button>
          <button type="button" class="btn btn-primary m-1" (click)="addFigure('circle');">{{label.circle}}</button>
          <!-- </div> -->
        </div>
      </div>

    </div>

    <!-- Canvas -->
    <div class="">
      <div class="">
        <canvas id="canvas" class=""></canvas>
      </div>
    </div>

    <div class="col-lg-3 p-0">

      <!-- Options -->
      <div class="card mb-2">
        <div class="card-header">{{label.options}}</div>
        <div class="card-body text-center">
          <!-- <div class="btn-group" role="group" aria-label="..."> -->
          <div class="" role="group" aria-label="...">
            <button data-toggle="tooltip" data-placement="bottom" title="Delete element" type="button"
              class="btn btn-outline-danger" [disabled]="!selected" (click)="removeSelected();">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
            <button data-toggle="tooltip" data-placement="bottom" title="Send to back" type="button"
              class="btn btn-outline-primary" [disabled]="!selected" (click)="sendToBack();">
              <i class="fa fa-level-down" aria-hidden="true"></i>
            </button>
            <button data-toggle="tooltip" data-placement="bottom" title="Send to front" type="button"
              class="btn btn-outline-primary" [disabled]="!selected" (click)="bringToFront();">
              <i class="fa fa-level-up" aria-hidden="true"></i>
            </button>
            <button data-toggle="tooltip" data-placement="bottom" title="Clone" type="button"
              class="btn btn-outline-primary" [disabled]="!selected || selected.type == 'group'" (click)="clone();">
              <i class="fa fa-clone" aria-hidden="true"></i>
            </button>
            <button data-toggle="tooltip" data-placement="bottom" title="Unselect" type="button"
              class="btn btn-outline-primary" [disabled]="!selected" (click)="cleanSelect()">
              <i class="fa fa-remove" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- <br /> -->

      <!-- Custom -->
      <div class="card mb-2">
        <div class="card-header">{{label.custom}}</div>
        <div class="card-body">
          <div class="custom-item" *ngIf="selected  && selected.type == 'group'">Group Selected</div>
          <div class="custom-item" *ngIf="!selected">{{label.items}}</div>
          <div class="custom-item" *ngIf="selected && selected.type != 'group'">
            <div class="custom-item-title">ID</div>
            <div class="custom-item-body">
              <input type="text" class="form-control" [(ngModel)]="props.id" (keyup)="setId()">
            </div>
          </div>
          <div class="custom-item" *ngIf="selected && selected.type != 'group'">
            <div class="custom-item-title">Opacity</div>
            <div class="custom-item-body">
              <input type="range" [(ngModel)]="props.opacity" (change)="setOpacity()">{{props.opacity}}</div>
          </div>
          <div class="custom-item" *ngIf="selected && textEditor || selected && figureEditor">
            <div class="custom-item-title">Fill</div>
            <div class="custom-item-body">
              <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="props.fill"
                [style.background]="props.fill" [value]="props.fill" (colorPickerChange)="setFill()">
            </div>
          </div>
          <div class="custom-item" *ngIf="selected && textEditor">
            <div class="custom-item-title">Font family</div>
            <div class="custom-item-body">
              <select [(ngModel)]="props.fontFamily" class="form-control" (change)="setFontFamily()">
                <option value="arial">Arial</option>
                <option value="helvetica" selected>Helvetica</option>
                <option value="verdana">Verdana</option>
                <option value="courier">Courier</option>
                <option value="Roboto">Roboto</option>
                <option value="Open Sans">Open Sans</option>
                <option value="Zilla Slab">Zilla Slab</option>
                <option value="Lato">Lato</option>
                <option value="Bellefair">Bellefair</option>
                <option value="Fresca">Fresca</option>
                <option value="Raleway">Raleway</option>
                <option value="Open Sans Condensed">Open Sans Condensed</option>
                <option value="Indie Flower">Indie Flower</option>
                <option value="Josefin Sans">Josefin Sans</option>
                <option value="Inconsolata">Inconsolata</option>
                <option value="Pacifico">Pacifico</option>
                <option value="Gloria Hallelujah">Gloria Hallelujah</option>
              </select>
            </div>
          </div>
          <div class="custom-item" *ngIf="selected && textEditor">
            <div class="custom-item-title">Text Align</div>
            <div class="custom-item-body text-center">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'left' }"
                  (click)="setTextAlign('left')">
                  <i class="fa fa-align-left"></i>
                </button>
                <button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'center' }"
                  (click)="setTextAlign('center')">
                  <i class="fa fa-align-center"></i>
                </button>
                <button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'right' }"
                  (click)="setTextAlign('right')">
                  <i class="fa fa-align-right"></i>
                </button>
                <button type="button" class="btn btn-primary" [ngClass]="{'active': props.textAlign == 'justify' }"
                  (click)="setTextAlign('justify')">
                  <i class="fa fa-align-justify"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="custom-item" *ngIf="selected && textEditor">
            <div class="custom-item-title">Style</div>
            <div class="custom-item-body text-center">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': props.fontWeight }"
                  (click)="setBold()">
                  <i class="fa fa-bold"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm" [ngClass]="{'active': props.fontStyle }"
                  (click)="setFontStyle()">
                  <i class="fa fa-italic"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm"
                  [ngClass]="{'active': hasTextDecoration('underline') }" (click)="setTextDecoration('underline')">
                  <i class="fa fa-underline"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm"
                  [ngClass]="{'active': hasTextDecoration('overline') }" (click)="setTextDecoration('overline')">
                  <i class="fa fa-underline fa-flip-vertical"></i>
                </button>
                <button type="button" class="btn btn-primary btn-sm"
                  [ngClass]="{'active': hasTextDecoration('line-through') }"
                  (click)="setTextDecoration('line-through')">
                  <i class="fa fa-strikethrough"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="custom-item" *ngIf="selected && textEditor">
            <div class="custom-item-title">Font Size</div>
            <div class="custom-item-body">
              <input type="range" [(ngModel)]="props.fontSize" (change)="setFontSize()" step="1" min="1"
                max="120">{{props.fontSize}}</div>
          </div>
          <div class="custom-item" *ngIf="selected && textEditor">
            <div class="custom-item-title">Line Height</div>
            <div class="custom-item-body">
              <input type="range" [(ngModel)]="props.lineHeight" (change)="setLineHeight()" step="0.1" min="0"
                max="10">{{props.lineHeight}}</div>
          </div>
          <div class="custom-item" *ngIf="selected && textEditor">
            <div class="custom-item-title">Char Spacing</div>
            <div class="custom-item-body">
              <input type="range" [(ngModel)]="props.charSpacing" (change)="setCharSpacing()" step="10" min="-200"
                max="800">{{props.charSpacing}}</div>
          </div>
        </div>
      </div>

      <!-- Add Images -->
      <div class="card mb-2">
        <div class="card-header">{{label.image}}</div>
        <div class="card-body max-height" id="imagePreview" style="cursor: pointer">
          <!-- <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/pikachu.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/squirtle.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/bullbasaur.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/charmander.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/bellsprout.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/caterpie.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/dratini.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/eevee.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/jigglypuff.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/mankey.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/meowth.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/pidgey.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/psyduck.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/rattata.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/abra.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/snorlax.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/zubat.svg">
                  <img class="images-item" (click)="getImgPolaroid($event)" src="assets/img/test.jpg"> -->
        </div>
      </div>
      <!-- <br /> -->



      <!-- Bg Color Set -->
      <!-- <div class="card" *ngIf="!selected">
        <div class="card-header">Canvas</div>
        <div class="card-body">
          <div class="custom-item" *ngIf="!props.canvasImage">
            <div class="custom-item-title">Background Color</div>
            <div class="custom-item-body">
              <input type="text" class="form-control" [cpPosition]="'bottom'" [(colorPicker)]="props.canvasFill"
                [style.background]="props.canvasFill" [value]="props.canvasFill" (colorPickerChange)="setCanvasFill()">
            </div>
          </div>
          <div class="custom-item">
            <div class="custom-item-title">Background Image (url)</div>
            <div class="custom-item-body">
              <input type="text" class="form-control" placeholder="http://example.jpg" [(ngModel)]="props.canvasImage"
                (keyup)="setCanvasImage()">
            </div>
          </div>
        </div>
      </div> -->
      <!-- <br /> -->



    </div>
  </div>

  <!-- Render to JSON -->
  <!-- <div class="row">
    <div class="col-xl-12">
      <br />
      <div class="card">
        <div class="card-header">
          <button type="button" class="btn btn-primary btn-sm" (click)="rasterizeJSON()">
            <i class="fa fa-refresh" aria-hidden="true"></i> Render to json</button>
        </div>
        <div class="card-body">
          <pre>{{json}}</pre>
        </div>
      </div>
    </div>
  </div> -->

</div>
