.addImage {
  max-height: calc(100vh - 465px);
  overflow: auto;
  cursor: pointer;
}

::ng-deep .btn-primary:hover {
  background-color: #4682b4db !important;
}

::ng-deep .btn-danger:hover {
  background-color: #c3002fd1 !important;
}

.textSize {
  font-size: 14px;
}

.uploadSize {
  font-size: 18px;
}

::ng-deep .btn-primary:disabled {
  color: white;
}

::ng-deep .btn-danger {
  color: white !important;
}

.pointer {
  cursor: pointer;
}

.pointerIcon {
  cursor: pointer;
}

.custom {
  max-height: calc(100vh - 570px);
  overflow: auto;
}

.addShapes {
  font-size: 12px;
  text-align-last: justify
}

.addShapeSize {
  width: 1.5rem;
  cursor: pointer;
}

.addCharts {
  overflow: auto;
  max-height: calc(100vh - 550px);
}

.addChartsIcon {
  width: 35px;
}

.modalBorder {
  border-right: 1px dotted lightgray;
}

.canvasPreview {
  width: 100%;
  height: 85%
}

.modalPreview {
  max-height: calc(100vh - 245px);
}

#canvas {
  border: 2px dashed #cccccc;
}

::ng-deep .images-item-upload {
  width: 25% !important;
  padding-bottom: 0 !important;
}

.titleJap {
  font-size: 0.8rem;
}

.titleEng {
  font-size: 1.5rem;
}

caption {
  font-size: 15px;
}

::ng-deep .canvas-container {
  width: 100% !important;
  height: 99vh !important;
}

::ng-deep .lower-canvas {
  width: 100% !important;
  height: 99vh !important;
}

::ng-deep .upper-canvas {
  width: 100% !important;
  height: 99vh !important;
}

.col-lg-3 {
  max-width: 22%;
}

.zoomImg {
  zoom: 1.5;
  color: black;
}

.colorPickerClass {
  width: 50%;
}

.btn-danger {
  background-color: #C3002F;
  border-color: #C3002F;
}

.btn-primary {
  background-color: steelblue;
  border-color: steelblue;
}

.btn-outline-danger:hover {
  background-color: #FF7851;
}

.btn-outline-primary {
  border-color: steelblue;
}

.btn-outline-primary:hover {
  background-color: steelblue;
}

.btn-outline-primary:disabled {
  color: #78C2AD;
}

.container {
  max-width: 100vw;
}

.modal-footer {
  border-top: none;
}

.main-title {
  margin-top: 10px;
}

.modal-body {
  max-height: calc(100vh - 245px);
}

.attributeBody {
  max-height: calc(100vh - 245px);
  overflow: auto;
}

.images-item {
  width: 48%;
  cursor: pointer;
  /* -webkit-transition: .5s ease;
  -webkit-transition: .5s ease; */
  padding: 3px;
  max-width: 120px;
}

.images-item:hover {
  opacity: 0.7;
}

.images-item-upload {
  width: 38%;
  cursor: pointer;
  padding-bottom: 10px;
  /* -webkit-transition: .5s ease;
  -webkit-transition: .5s ease; */
}

.images-item-upload:hover {
  opacity: 0.7;
}

.custom-item .custom-item-title {
  color: #666666;
  font-weight: 600;
}

.custom-item .custom-item-body {
  padding: 10px 0;
}

.modal-dialog {
  max-width: 80vw;
}

::ng-deep .modal-backdrop.show {
  z-index: 99 !important;
}
