  #canvas {
    border: 2px dashed #cccccc;
  }

  .colorPickerClass {
    width: 50%;
  }

  .btn-danger {
    background-color: #C3002F;
    border-color: #C3002F;
  }

  .btn-primary {
    background-color: steelblue;
    border-color: steelblue;
  }

  .btn-primary:hover {
    background-color: steelblue !important;
    border-color: steelblue !important;
  }

  .btn-outline-danger:hover {
    background-color: #FF7851;
  }

  .btn-outline-primary {
    border-color: steelblue;
  }

  .btn-outline-primary:hover {
    background-color: steelblue;
  }

  .btn-outline-primary:disabled {
    color: #78C2AD;
  }

  .container {
    max-width: 100vw;
  }

  .modal-footer {
    border-top: none;
  }

  .main-title {
    margin-top: 10px;
  }

  .modal-body {
    max-height: calc(100vh - 245px);
  }

  .attributeBody {
    max-height: calc(100vh - 245px);
    overflow: auto;
  }

  .images-item {
    width: 48%;
    cursor: pointer;
    -webkit-transition: .5s ease;
    -webkit-transition: .5s ease;
    padding: 3px;
    max-width: 120px;
  }

  .images-item:hover {
    opacity: 0.7;
  }

  .images-item-upload {
    width: 80%;
    cursor: pointer;
    padding-bottom: 10px;
    -webkit-transition: .5s ease;
    -webkit-transition: .5s ease;
  }

  .images-item-upload:hover {
    opacity: 0.7;
  }

  /* .custom-item {
    border-bottom: 2px solid #f3f3f3;
  } */

  .custom-item .custom-item-title {
    color: #666666;
    font-weight: 600;
  }

  .custom-item .custom-item-body {
    padding: 10px 0;
  }

  .max-height {
    overflow: auto;
    max-height: 300px;
  }

  .modal-dialog {
    max-width: 80vw;
  }
